/* Components */

/* ================================= */

.phone {
  display: inline-flex;
  align-items: center;
}

.phone .icon {
  margin-right: 5px;
  font-size: 1.5em;
}

/* header */

.header {
  margin-bottom: 16px;
}

.header-top {
  padding: 38px 0;
}

.navbar {
  background-color: #e9e9e9;
}

.navbar-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  margin: 0 -18px;
  padding-left: 0;
}

.navbar-nav>li>a {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
  font-size: 15px;
  color: #393939;
  text-decoration: none;
  padding: 16px 18px;
}

.navbar-nav>li>a:hover,
.navbar-nav>li>a:focus {
  color: var(--global-primary-background);
}

/* breadcrumbs */

.breadcrumbs {
  list-style: none;
  padding-left: 0;
  margin: 0;
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.breadcrumbs>li:not(:last-child)::after {
  content: '>>';
  margin-right: 10px;
}

/* Cards */

.card-new {
  padding: 20px 0;
  border-bottom: var(--global-border-width) dotted var(--global-border);
}

.card-new .card-title {
  font-size: 14px;
  margin-bottom: 10px;
}

.card-new .card-date {
  margin-bottom: 16px;
  font-size: 11px;
  color: #969696;
}

.card-gallery {}

.card-gallery .card-image {
  display: block;
  width: 100%;
}

/* actions */

.actions-news {
  text-align: right;
}

*+.actions-news {
  margin-top: 22px;
}

.actions-newsletter {
  text-align: right;
}

*+.actions-newsletter {
  margin-top: 27px;
}

/* tabs */

.tabs-nav {
  margin: 0;
  padding-left: 0;
  list-style: none;
  display: flex;
  border-bottom: var(--global-border-width) solid var(--global-primary-background);
}

.tabs-nav>li:not(:last-child) {
  margin-right: 6px;
}

.tabs-nav>li>a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 16px;
  background-color: #e9e9e9;
  color: #000;
  text-decoration: none;
  border-radius: 4px 4px 0 0;
}

.tabs-nav>li>a:hover,
.tabs-nav>li>a:focus,
.tabs-nav>li.is-active>a {
  text-decoration: none;
  background-color: var(--global-primary-background);
  color: #fff;
}
.tabs-content {
  padding: 14px 0;
}
.tabs-pane:not(.is-active) {
  display: none !important;
}

/* Socials */

.socials {
  margin: -5px;
  padding-left: 0;
  list-style: none;
  display: inline-flex;
  flex-wrap: wrap;
}

.social {
  margin: 5px;
  display: inline-flex;
  width: 31px;
  height: 31px;
  border-radius: 50%;
  background-color: #b8b8b8;
  text-decoration: none;
  color: #fff;
  align-items: center;
  justify-content: center;
}

.social:hover,
.social:focus {
  text-decoration: none;
  background-color: var(--global-primary-background);
  color: #fff;
}

/* icons */

.icon {
  display: inline-block;
  vertical-align: middle;
  width: 1em;
  height: 1em;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.icon-phone {
  background-image: url(../../icons/phone.png);
}

.icon-search {
  background-image: url(../../icons/search.png);
}